<div class="container-fluid">
  <div class="jumbotron">
    <h2 align="center">|Pure vs Impure Pipe |</h2>
  </div>
   
  <section class="form-group">
    <input type="text" class="form-control" [(ngModel)]="searchedFood" placeholder=" Search Foods.........">
    <div class="float-right">
      <button class="btn btn-sm btn-success" (click)="addFood()">+</button>
    </div>
  </section>
 
  <div class="list-group">
    <li class="list-group-item" *ngFor="let f of foodList|filter:searchedFood let i=index" (click)="select(f)"  [ngClass]="i%2==0 ? 'even1':'odd2'">{{f.food}}
      <span class="badge badge-piils badge-success float-right">{{f.price|currency:'INR'}}</span>
    </li>
  </div>
</div>


<!-- this portion will be vissible when we click any food item -->
<div *ngIf="detailsfood !=0">
  <hr>
  <table class="table table-border bg-success">
    <TR>

      <th colspan="2" style="background-color: burlywood; text-align: center;">--:FOOD DETAILS:--</th>
    </TR>
    <tr>
      <th class="table-success">NAME </th>
      <td>
        {{detailsfood.food}}
      </td>
    </tr>
    <tr>
      <th class="table-success">FOOD-ID </th>
      <td>
        {{detailsfood.food_id}}
      </td>
    </tr>
    <tr>
      <th class="table-success">FOOD-PRICE </th>
      <td>
        {{detailsfood.price}}
      </td>
    </tr>
  </table>

</div>

